<a href="/">Back To HomePage</a>
<article class="post">
  <div class="title">
    <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
    <span>({{post.post_url}})</span>
  </div>
  <div class="meta">
    {{post.vote_count}} {{format_plural "upvote" post.vote_count}} on {{post.user.username}}'s post.
  </div>
</article>
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body" autocomplete="off"></textarea>
  </div>

  <div>
    <button type="submit">Add A Comment!</button>
    <button type="button" class="upvote-btn">Upvote</button>
  </div>
  <div>
    <p class="hide-before-error" id="comment-err">
      Type something to leave a comment!
    </p>
  </div>
    <div>
    <p class="hide-before-error" id="upvote-err">
      Users can only upvote once per post!
    </p>
  </div>
</form>
{{/if}}
<div class="comments">
  {{> comments post.comments}}
</div>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}

